.ratingContainer{
    color: #2e2e2e;
    font-size: 12pt;
}

.ratingContainer span{
    padding: 2px;
}

.ratingContainer label {
    color: rgb(28, 8, 131)
}

.ratingRow{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.ratingTxt{
    margin-right: 6px
}

.ratingItem{
    display: flex;
    justify-content: space-between;
    background-color: #e6e6e6;
    width: 98%;
    word-break: break-all;
    font-size: 12pt;
    border-radius: 3px;
    margin-bottom: 2%;
    padding: 1%;
}