.container{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 95%;
}

.shadow {
    box-shadow: 0 0 7px rgba(0,0,0,0.5);
    padding: 10px;
    border-radius: 4px;
}

.nav-content-filter{
    display: flex;
    margin-top: 60px;
}

.nav{
    background-color: #fcfefe;
    flex: 1;
    align-self: flex-start;
}

nav a{
    text-decoration: none;
    color: #120202;
}

nav a:hover {
    text-shadow: 0 0 4px rgba(0,0,0,0.2);
}

.content{
    display: flex;
    flex-direction: column;
    flex: 3;
    margin-left: 2%;
    margin-right: 2%;
}